<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lorcana Learner</title>
  <style>
    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 0 10px;
      text-align: center;
    }

    .booster-pack {
      display: flex;
      flex-wrap: wrap;
    }

    .card {
      flex: 0 0 calc(25% - 12px);
      margin: 1px 6px 1px 6px;
      box-sizing: border-box;
    }

    @media screen and (max-width: 600px) {
      .card {
        flex: 0 0 calc(50% - 12px);
      }
    }

    .card img {
      width: 100%;
      height: auto;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>First Boosterpack</h1>
    <div class="booster-pack">
      <% cards.forEach(card => { %>
      <div class="card">
        <img src="<%= card.images.full %>" alt="<%= card.name %>">
        <p><%= card.name %></p>
      </div>
      <% }) %>
    </div>
  </div>
</body>

</html>