body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --icon-size: 5vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body, #top-bar, #deck-info {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#top-bar {
  height: 5vh;
  border-bottom: 2px solid black;
}

.card-counter {
  font-size: 180%;
  margin: 0 0.5vw;
}

.deck-info-container {
  position: relative;
  align-self: flex-start;
  left: 5vw;
}

.ink-token {
  height: var(--icon-size);
}

#graph-icon {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 8px;
}

#deck-curve {
  position: relative;
  border: 5px solid black;
  padding: 2vh;
  background-color: white;
  display: none;
  z-index: 9999;
}

#graph-icon:hover #deck-curve,
#graph-icon:hover + #graph-container {
  display: block;
}

.deck-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90vw;
  min-width: 90vw;
}

.card-container {
  width: 48%;
  min-width: 48%;
  height: calc(95vh - 5vh);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2vh;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: auto;
}

.card-container:hover {
  background-color: #f0f0f0;
}

.deck-card,
.booster-card {
  flex: 0 0 calc(20% - 12px);
  margin: 1vh 6px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .card-container {
    width: 100%;
  }

  .deck-card,
  .booster-card {
    flex-basis: 40%;
  }
}

.card {
  position: relative;
}

.card img {
  display: block;
  width: 90%;
  height: auto;
}

.card img:hover {
  transform: scale(1.1);
}

.selected {
  border: 3px solid #f9ad0e;
  box-shadow: 0 0 30px #f9ad0e;
  filter: hue-rotate(40deg) brightness(1.5);
}

.modal {
  position: fixed;
  width: 80%;
  max-width: 600px;
  height: 80vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  background-color: white;
  padding: 2vh;
  display: none;
  overflow-y: auto;
  z-index: 9999;
}

.starter-deck {
  max-width: 100%;
  margin: 20px auto;
  padding: 0 10px;
  text-align: justify;
}

.starter-deck h1 {
  margin-top: 0;
}

.starter-deck p {
  margin-bottom: 20px;
}

.starter-deck img {
  display: block;
  margin: 0 auto 10px;
  max-width: 100%;
}

.disabled-card {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
